<div *ngIf="personDetails">

    <app-manage-favorite-button class="favorite-button" [item]="personDetails" [isFavorite]="collection.isInCollection(personDetails.id)" (addItemEvent)="collection.addPerson($event)" (removeItemEvent)="collection.removePerson($event)"></app-manage-favorite-button>

    <div class="content-container">
        <section class="person-main-details">

            <!-- The name of the person. -->
            <h1>{{personDetails.name}}</h1>

            <!-- The list of their `also_known_as` names. -->
            <h3 *ngIf="personDetails.also_known_as && personDetails.also_known_as.length > 0" class="also-known-as">Also know as:<br>
                <span *ngFor="let aka of personDetails.also_known_as; index as i"><span *ngIf="i > 1"> | </span>{{aka}}</span>
            </h3>

            <!-- Profile image ([The Movie Database API images](https://developers.themoviedb.org/3/getting-started/images)). -->
            <img *ngIf="personDetails.profile_path" class="profile-image" src="https://image.tmdb.org/t/p/w500{{personDetails.profile_path}}" alt="{{personDetails.name}} profile image">

            <!-- The birthday, formatted as `MM/DD/YYYY`. -->
            <h3 class="birthday">Birthday: {{personDetails.birthday | date:'MM/dd/yyyy'}}</h3>
            
            <!-- A link to their homepage if available. -->
            <h3 class="homepage" *ngIf="personDetails.homepage"><a href="{{personDetails.homepage}}" target="_blank" title="Homepage of {{personDetails.name}}">{{personDetails.homepage}}</a></h3>

            <!-- A truncated biography that displays the full thing on mouse over. -->
            <p class="biography">{{personDetails.biography}}</p>
        </section>
    <section id="credit">
        <h2 class="credit-section-title">Credits</h2>

        <!-- For cast it should display the following:
                - The character name.
                - The title.
                - The movie poster. -->
        <h3 class="credit-section-subtitle">Cast</h3>
        <p class="no-credit" *ngIf="!castCredits || castCredits.length < 1">No cast credits found</p>
        <ul class="credits-list" *ngIf="castCredits && castCredits.length > 0">
            <li *ngFor="let credit of castCredits">
                <img *ngIf="credit.poster_path" class="credit-poster" src="https://image.tmdb.org/t/p/w500{{credit.poster_path}}" alt="{{credit.title}} movie poster">
                <h4 class="movie-title">Title: {{credit.title}}</h4>
                <h4 class="character-name">Character: {{credit.character}}</h4>
                <h4 class="release-date">Release Date: {{credit.release_date | date:'MM/dd/yyyy'}}</h4>
            </li>
        </ul>
        
        <!-- For crew it should display the following:
            - The department.
            - The title.
            - The movie poster. -->
        <h3 class="credit-section-subtitle">Crew</h3>
        <p class="no-credit" *ngIf="!crewCredits  || crewCredits.length < 1">No crew credits found</p>
        <ul class="credits-list" *ngIf="crewCredits && crewCredits.length > 0">
            <li *ngFor="let credit of crewCredits">
                <img *ngIf="credit.poster_path" class="credit-poster" src="https://image.tmdb.org/t/p/w500{{credit.poster_path}}" alt="{{credit.title}} movie poster">
                <h4 class="movie-title">Title: {{credit.title}}</h4>
                <h4 class="department">Department: {{credit.department}}</h4>
                <h4 class="job">Job: {{credit.job}}</h4>
                <h4 class="release-date">Release Date: {{credit.release_date | date:'MM/dd/yyyy'}}</h4>
            </li>
        </ul>

    </section>
    </div>
</div>