.background-container {
    opacity: .25;
    position: fixed;
    top: 3.25rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.favorite-button {
    position: fixed;
    right: 5px;
    top: 55px;
}

.content-container {

    background-color: white;
    width: 60%;
    margin: 5rem auto;
    position: relative;
    font-family: Verdana, Geneva, sans-serif;
}

/* Person Main Details Section */

.person-main-details {
    padding: 1rem;
}

h1 {
    font-weight: 600;
    font-size: 4em;
    line-height: 1.25;
    text-align: center;
}

.birthday, .homepage, .also-known-as {
    text-align: center;
}

.profile-image {
    margin: auto;
    display: block;
    width: 250px;
}

.biography {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    
    min-height: 15rem;

    &:hover {
        white-space: normal;
        overflow: inherit;
        text-overflow: unset;
    }
}
/* End of Person Main Details Section */

/* Credit section */

.credit-section-title {
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
}
.credit-section-subtitle {
    text-align: center;
    font-size: 2em;
}

.credits-list {
    list-style: none;
    padding: 0;
    & li {
        padding: 2rem 0;
        text-align: center;
        border-bottom: lightgray solid 1px;
    }
    & li:nth-child(1) {
        border-top: black solid 2px;
    }
    & li:last-child {
        border-bottom: black solid 2px;
    }
}

.credit-poster {
    width: 150px;
}

.character-name, .movie-title, .department, .job, .release-date, .no-credit {
    font-size: 1em;
    margin-bottom: 0;
}