<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">

  <!-- username field -->
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" id="username" name="username" placeholder="Username" formControlName="username">
  </mat-form-field>

  <!-- password field -->
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="showPassword ? 'text' :'password'" id="password" name="password" placeholder="Password"
      formControlName="password">
    <button mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Show password'"
      [attr.aria-pressed]="showPassword">
      <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <!-- Login button -->
  <button type="submit" class="login-button" mat-stroked-button [disabled]="loginForm.invalid">Login</button>
</form>
