.form-container {
  width: 100%;
  height: 100%;
  margin-top: 20rem;
}

.form-field,
.login-button {
  //border: 1px solid blue;
  //border-radius: 5px;
  width: 25%;
  margin: 1rem auto;
  display: block;
}
