.dashboard-container {
    width: 80%;
    margin: auto;
}

.dashboard-title {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;

    mat-icon {
        font-size: .75em;
        cursor: pointer;
    }
}

.movie-li, .person-li {
    list-style: none;
    font-size: 1.5em;
    & a {
        text-decoration: none;
    }

    & mat-icon {
        vertical-align: middle;
        &:hover {
            cursor: pointer;
        }
    }
}