<div class="dashboard-container">
    <h1 class="dashboard-title">Dashboard</h1>
    <h2>My Favorite Movies <mat-icon (click)="movieCollection.sortByTitle()">sort_by_alpha</mat-icon></h2>
    <ng-container *ngIf="!movieCollection.collection || movieCollection.collection.length < 1">
        <p>You don't have any movies favorited, yet. Go to <a routerLink="/search/movie" >movie search</a> to find some.</p>
        </ng-container>
    <ul>
        <!-- Display the list of movies in the user's collection. -->
        <li class="movie-li" *ngFor="let movie of movieCollection.collection">
            <span>
                <!-- Remove a movie from the list. -->
                <mat-icon (click)="movieCollection.removeMovie(movie)" title="Remove movie">remove</mat-icon>&nbsp;&nbsp;
                <!-- Link to any of the movie details. -->
                <a routerLink="/details/movie/{{movie.id}}">{{movie.title}}</a>
            </span>
        </li>
    </ul>
    <h2>My Favorite People <mat-icon (click)="personCollection.sortByName()">sort_by_alpha</mat-icon></h2>
    <ng-container *ngIf="!personCollection.collection || personCollection.collection.length < 1">
        <p>You don't have any people favorited, yet. Go to <a routerLink="/search/person" >person search</a> to find some.</p>
        </ng-container>
    <ul>
        <!-- Display the list of people in the user's collection. -->
        <li class="person-li" *ngFor="let person of personCollection.collection">
            <span>
                <!-- Remove a person from the list. -->
                <mat-icon (click)="personCollection.removePerson(person)" title="Remove person">remove</mat-icon>&nbsp;&nbsp;
                <!-- Link to any of the person details. -->
                <a routerLink="/details/person/{{person.id}}">{{person.name}}</a>
            </span>
        </li>
    </ul>
</div>