<!-- If no results are found display a message to let the user know. -->
<p *ngIf="noResults">No Movies found. Please change your query.</p>
<ng-container *ngIf="results && results.length > 0">

  <!-- Display the total number of results. -->
  <p>Total Number of Results: {{totalResults}}</p>

  <!-- A paginated table showing the results of the search. -->
  <mat-table mat-table [dataSource]="results" class="mat-elevation-z8">

<!-- title Column -->
<ng-container matColumnDef="Title">
  <th mat-header-cell *matHeaderCellDef> Title </th>
  <!-- link to the movie details page for the selected movie. -->
  <td mat-cell *matCellDef="let element"><a routerLink="/details/movie/{{element.id}}"> {{element.title}} </a></td>
</ng-container>

<!-- Release Date Column -->
<ng-container matColumnDef="Release Date">
  <th mat-header-cell *matHeaderCellDef> Release Date </th>
  <!-- #Pipes -->
  <!-- link to the movie details page for the selected movie. -->
  <td mat-cell *matCellDef="let element"><a routerLink="/details/movie/{{element.id}}"> {{element.release_date | date:'mediumDate'}} </a></td>
</ng-container>

<!-- Favorite Column -->
<ng-container matColumnDef="Favorite">
  <th mat-header-cell *matHeaderCellDef> Favorite </th>
  <td mat-cell *matCellDef="let element">
    <app-manage-favorite-button class="favorite-button" [item]="element" [isFavorite]="movieCollection.isInCollection(element.id)" (addItemEvent)="movieCollection.addMovieById($event.id)" (removeItemEvent)="movieCollection.removeMovieById($event.id)"></app-manage-favorite-button>
  </td>
</ng-container>



<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</mat-table>

<!-- Should not allow moving to the next page if you are on the last page. -->
<mat-paginator #paginator [length]="totalResults" [hidePageSize]="true" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>
</ng-container>
