mat-table {
  display: inline-block;
}

// .mat-header-cell {
//   flex-direction: column;
//   justify-content: center;
//   text-align: center;
// }

// .mat-cell {
//   text-align: center;
//   justify-content:center;
// }

.mat-column-Title {
  width: 80%;
}

.mat-column-Release-Date {
  width: 15%;
}

.mat-column-Favorite {
  padding-top: 10px;
  padding-bottom: 10px;
}

tr {
  width: 100%;
  margin: auto !important;
  display: inline-table;

  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: inherit;
    padding: 1rem 0;
  }
}
