<div *ngIf="movieData">
    <!-- The background image using the `backdrop_path` property. -->
    <div class="background-container" [ngStyle]="{'background-image': getBackdropStyle()}"></div>

    <app-manage-favorite-button class="favorite-button" [item]="movieData" [isFavorite]="collection.isInCollection(movieData.id)" (addItemEvent)="collection.addMovie($event)" (removeItemEvent)="collection.removeMovie($event)"></app-manage-favorite-button>

    <div class="content-container">
        <section class="movie-main-details">

            <!-- The title of the movie. -->
            <h1>{{movieData.title}}</h1>

            <!-- The movie poster ([The Movie Database API images](https://developers.themoviedb.org/3/getting-started/images)). -->
            <img class="poster" src="https://image.tmdb.org/t/p/w500{{movieData.poster_path}}" alt="{{movieData.title}} movie poster">

            <!-- The release date, using a pipe to convert the format to `MM/DD/YYYY`. -->
            <h3 class="released-date">Released: {{movieData.release_date | date:'MM/dd/yyyy'}}</h3>

            <!-- A truncated overview that displays the full thing on mouse over. -->
            <p class="overview">{{movieData.overview}}</p>
        </section>
    <section id="production">
        <h2 class="production-section-title">Production Companies</h2>

        <!-- The list of production companies and their logos. -->
        <ul class="production-companies">
            <li *ngFor="let company of movieData.production_companies">
                <img class="production-logo" *ngIf="company.logo_path" src="https://image.tmdb.org/t/p/w500{{company.logo_path}}" alt="{{company.name}} logo">
                <h3 class="production-name">{{company.name}}</h3>
            </li>
        </ul>
    </section>
    </div>
</div>