.background-container {
    opacity: .25;
    position: fixed;
    top: 3.25rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.favorite-button {
    position: fixed;
    right: 5px;
    top: 55px;
}

.content-container {

    background-color: white;
    width: 60%;
    margin: 5rem auto;
    position: relative;
    font-family: Verdana, Geneva, sans-serif;
}

/* Movie Main Details Section */

.movie-main-details {
    padding: 1rem;
}

h1 {
    font-weight: 600;
    font-size: 4em;
    line-height: 1.25;
    text-align: center;
}

.released-date {
    text-align: center;
}

.poster {
    margin: auto;
    display: block;
    width: 250px;
}

.overview {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    min-height: 8rem;

    &:hover {
        white-space: normal;
        overflow: inherit;
        text-overflow: unset;
    }
}
/* End of Movie Main Details Section */

/* Production section */

.production-section-title {
    text-align: center;
    font-size: 3em;
}

.production-companies {
    list-style: none;
    padding: 0;
    & li {
        padding: 2rem 0;
        text-align: center;
        border-bottom: lightgray solid 1px;
    }
    & li:nth-child(1) {
        border-top: lightgray solid 1px;
    }
}

.production-logo {
    max-width: 20rem;
    max-height: 8rem;
}

.production-name {
    font-size: 2em;
}