<!-- If no results are found display a message to let the user know. -->
<p *ngIf="noResults">No Movies found. Please change your query.</p>
<ng-container *ngIf="results && results.length > 0">

  <!-- Display the total number of results. -->
  <p>Total Number of Results: {{totalResults}}</p>

  <!-- A paginated table showing the results of the search. -->
  <mat-table mat-table [dataSource]="results" class="mat-elevation-z8">

<!-- Name Column -->
<ng-container matColumnDef="Name">
  <th mat-header-cell *matHeaderCellDef> Name </th>
  <!-- link to the person details page for the selected person. -->
  <td mat-cell *matCellDef="let element"><a routerLink="/details/person/{{element.id}}"> {{element.name}} </a></td>
</ng-container>

<!-- Known for Column -->
<ng-container matColumnDef="Known For">
    <th mat-header-cell *matHeaderCellDef> Known For </th>
    <!-- link to the person details page for the selected person. -->
    <td mat-cell *matCellDef="let element">
        <a routerLink="/details/person/{{element.id}}">
            <ng-container *ngFor="let movie of element.known_for; index as i"><span *ngIf="i !== 0">, </span>{{movie.original_title}}</ng-container>
        </a>
    </td>
</ng-container>

<!-- Favorite Column -->
<ng-container matColumnDef="Favorite">
  <th mat-header-cell *matHeaderCellDef> Favorite </th>
  <td mat-cell *matCellDef="let element">
    <app-manage-favorite-button class="favorite-button" [item]="element" [isFavorite]="personCollection.isInCollection(element.id)" (addItemEvent)="personCollection.addPersonById($event.id)" (removeItemEvent)="personCollection.removePersonById($event.id)"></app-manage-favorite-button>
  </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</mat-table>

<!-- Should not allow moving to the next page if you are on the last page. -->
<mat-paginator #paginator [length]="totalResults" [hidePageSize]="true" [pageSize]="20" (page)="onPageChange($event)"></mat-paginator>
</ng-container>
