mat-table {
    display: inline-block;
    width: 100%;
  }
  
  .mat-column-Name {
    width: 25%;
  }
  
  .mat-column-Known-For {
    width: 75%;
  }

  .mat-column-Favorite {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  tr {
    width: 100%;
    margin: auto !important;
    display: inline-table;
  
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: block;
      color: inherit;
      padding: 1rem 0;
    }
  }
  