<div id="movie-search-container" class="movie-search-container">
  <!-- The movie search component will contain the filters and results components. -->
  <app-movie-search-filters></app-movie-search-filters>
  <app-movie-search-results></app-movie-search-results>
</div>

