<!-- #Forms -->
<!-- The filters component should use a reactive form to allow the user to enter: -->
<form class="form" (ngSubmit)="onSubmit()" [formGroup]="form">

  <!-- A required search query. -->
  <mat-form-field class="query-field" appearance="outline">
    <mat-label>Query</mat-label>
    <input matInput formControlName="query">
  </mat-form-field>

  <!-- An optional year. -->
  <mat-form-field class="year-field" appearance="outline">
    <mat-label>Year</mat-label>
    <input matInput number formControlName="year">
  </mat-form-field>

  <!-- The search button should be disabled until the required field is entered. -->
  <button class="submit-button" color="primary" mat-fab type="submit" [disabled]='form.invalid'><mat-icon>search</mat-icon></button>

</form>
