.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3rem;
}

.query-field {
  width: 50%;
  margin: auto;;
}

.year-field {
  width: 50%;
  margin: auto;
}

.submit-button {
  margin: auto;
}
