 <!-- #Directives - ngIf -->
<button class="add-button" color="primary" title="Add to collection" mat-fab (click)="addItem(item)" *ngIf="isLoggedIn && !isFavorite">
    <mat-icon>add</mat-icon>
</button>
<button class="remove-button" color="basic" title="Remove from collection" mat-fab (click)="removeItem(item)" *ngIf="isLoggedIn && isFavorite">
    <mat-icon>remove</mat-icon>
</button>