<header class="header">
  <div class="logout-login">
    <a *ngIf="isLoggedIn()" (click)='logout($event)' href="#">Logout</a>
    <a *ngIf="!isLoggedIn()" routerLink="login">Login</a>
  </div>

  <nav>
    <ul>
      <!-- Add a link or button to your app navigation. -->
      <li><a class="dashboard" routerLink="dashboard">Dashboard</a></li>
      <li><a routerLink="search/movie">Movie Search</a></li>
      <li><a routerLink="search/person">Person Search</a></li>
    </ul>
  </nav>
</header>


<router-outlet></router-outlet>
