.header {
  height: 3rem;
  margin-bottom: .5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


.logout-login {
  float: right;
  height: 100%;
  a {
    height: 100%;
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    padding: .5rem;
  }
  }

